@import "tailwindcss";
@custom-variant hover (&:hover);

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

button:active {
  background-color: inherit;
}