@import "tailwindcss";
@custom-variant hover (&:hover);

button {
  -webkit-tap-highlight-color: transparent; /* remove highlight */
  -webkit-user-select: none; /* evita seleção acidental */
  -webkit-touch-callout: none; /* previne menu de toque longo */
}

button:active {
  background-color: inherit; /* ou a cor original do botão */
}